<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kulinarnaya_kniga.Properties.Settings.Kulinarnaya_kniga_Connection"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Kulinarnaya_kniga.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Kulinarnaya_kniga.Properties.Settings.Kulinarnaya_knigaConnectionString"
            connectionString="Data Source=PTR-ПК;Initial Catalog=Kulinarnaya_kniga;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>